body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background: rgb(40, 44, 52);
    color: rgb(171, 178, 191);
}
#control {
    width: 120px;
    margin: 10px;
    padding: 5px 10px 5px 30px;
    background-color: rgb(45, 49, 57);
    border-radius: 10px;
    font-size: 20px;
}
#container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    width: 480px;
    height: 480px;
    transition: 0.3s;
    border: 4px ridge wheat;
}
.tile {
    user-select: none;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    transition: 0.4s;
    border: 2px solid;
    border-color: black;
    font-size: 50px;
    font-weight: 600;
    color: rgb(40, 44, 52);
}
#start {
    all: unset;
    box-shadow: rgba(50, 50, 50, 0.5) 0px 0px 10px;
    width: 80px;
    height: 30px;
    margin: 20px;
    transition: all 0.2s;
    background-color: skyblue;
    cursor: pointer;
    border-radius: 8px;
    color: black;
    text-align: center;
}
#start:hover {
    transform: scale(1.1);
    background-color: deepskyblue;
    color: white;
}
#start:active {
    transform: scale(0.9);
    background-color: blue;
    color: red;
}
a {
    position: absolute;
    bottom: 2%;
}
