* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	src: url("../../assets/fonts/digital_7/digital-7\ \(mono\).ttf") format("truetype");
	font-family: "Digital-7";
	font-style: normal;
	font-weight: normal;
}
body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
	font-family: "Comic Relief", Arial, sans-serif;
}
canvas {
	filter: blur(1px);
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}
header,
main,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}
header {
	flex-basis: 10%;
	text-align: center;
}
main {
	flex-direction: column;
	flex-basis: 80%;
}
footer {
	flex-basis: 10%;
	text-align: center;
}
time {
	display: inline-flex;
	padding-right: 8px;
	padding-left: 8px;
	background-color: rgb(240, 250, 210);
	border-radius: 4px;
	font-size: 40px;
	font-family: "Digital-7", VT323, monospace;
	color: #282c34;
}
#digital {
	position: absolute;
	opacity: 0.1;
}
.colon {
	transition: 0.1s linear;
}
.container {
	aspect-ratio: 12 / 3;
	position: absolute;
	width: 100%;
	padding: 4px;
}
.small {
	display: none;
	gap: 6px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(12, 1fr);
}
.large {
	display: grid;
	gap: 4px;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(24, 1fr);
}
.clock {
	box-shadow: inset 5px 2px 7px rgba(0, 0, 0, 0.3), inset -2px -5px 7px rgba(255, 255, 255, 0.7), -5px -2px 3px rgba(255, 255, 255, 0.7);
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(215, 215, 215);
	border-radius: 50%;
}
.clock * {
	transform-origin: left center;
	position: absolute;
	opacity: 0.9;
	transform: translateY(-50%) rotate(135deg);
	transition: 0.6s;
	background-color: #282c34;
	border-radius: 4px;
}
.dot {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3), -1px -2px 2px rgba(255, 255, 255, 0.7);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 6%;
	height: 6%;
}
.long {
	box-shadow: 0 0 4px orange;
	top: 50%;
	left: 50%;
	width: 40%;
	height: 5%;
	background-color: darkorange;
}
.short {
	box-shadow: 0 0 4px cyan;
	top: 50%;
	left: 50%;
	width: 45%;
	height: 3%;
	background-color: darkcyan;
}
button {
	all: unset;
	position: absolute;
	bottom: 5%;
	padding: 2px 5px;
	transition: 0.2s;
	background-color: transparent;
	cursor: pointer;
	border: 2px #282c34 double;
	font-family: "Comic Relief", Arial, sans-serif;
}
button:hover {
	color: orangered;
}
a {
	margin-right: 10px;
	margin-left: 10px;
	transition: 0.2s;
	cursor: help;
	text-decoration: none;
}
a:hover {
	filter: brightness(1.5);
	text-decoration: underline;
}
