body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100vh;
	margin: 0px;
	background: rgb(40, 44, 52);
	font-size: 20px;
	font-family: "WDXL Lubrifont SC", sans-serif;
	font-style: normal;
	font-weight: 400;
	color: rgb(171, 178, 191);
}
table {
	border-collapse: collapse;
	box-shadow: black 0px 4px 10px 4px;
	width: 80%;
	border: 4px ridge lightblue;
}
th,
td {
	border-collapse: collapse;
	height: 30px;
	padding: 0px;
	border: 1px dashed rgb(171, 178, 191);
	border-right: none;
	text-align: center;
}
td {
	height: 60px;
}
.ID {
	cursor: copy;
	font-family: Consolas;
	color: pink;
}
td:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20%;
	font-weight: 600;
}
button {
	all: unset;
	transition: 0.3s;
	cursor: pointer;
	line-height: 0.5;
	color: white;
	text-align: center;
}

.Delete:hover {
	transform: scale(1.1);
	color: red;
	text-shadow: 0px 4px 4px black;
}
.Update:hover {
	transform: scale(1.1);
	color: lime;
	text-shadow: 0px 4px 4px black;
}
.Delete:active,
.Update:active {
	transform: scale(0.9);
}
#Create {
	position: absolute;
	transform: translateY(var(--y-offset, 100px));
	padding: 10px;
	font-size: 60px;
}
#Create:hover {
	transform: translateY(var(--y-offset, 100px)) scale(1.1);
	text-shadow: 0px 4px 4px black;
}
#Create:active {
	transform: translateY(var(--y-offset, 100px)) scale(0.9);
}
#copy {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 5%;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
	padding: 10px 20px;
	transition: 0.3s;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	font-size: 16px;
}
