::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: rgba(171, 178, 191, 0.5);
	border-radius: 50px;
}
::-webkit-scrollbar-thumb {
	background: rgba(40, 44, 52, 0.5);
	border: 1px dotted rgba(171, 178, 191, 0.5);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(40, 44, 52, 0.9);
}
:root {
	--content: "_";
}
* {
	transition: 0.3s;
	font-family: "Aldrich", sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgb(171, 178, 191);
}
h1,
#introduce,
footer {
	opacity: 0.8;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
#bkc {
	filter: blur(20px) contrast(20%) brightness(0.4);
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000vw;
	height: 1000vh;
	animation: change 10s linear infinite;
	background: conic-gradient(hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
	background-size: 100%;
}
@keyframes change {
	from {
		transform: translate(-50%, -50%);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
nav {
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 16px;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
	width: 80%;
	padding: 1.2%;
}
footer {
	width: 100%;
	margin: 1%;
	text-align: center;
}
time {
	user-select: all;
	display: inline-flex;
	position: absolute;
	top: 1%;
	right: 1%;
	text-align: center;
}
time * {
	cursor: wait;
	font-size: 1.5em;
	font-family: VT323 !important;
	color: rgb(77, 182, 176);
	text-shadow: 0 0 3px rgba(34, 200, 247, 0.8);
}
.colon {
	transition: 0.1s linear;
	text-shadow: 0 0 5px currentColor;
}
h1 {
	-webkit-text-stroke: 1px rgb(171, 178, 191);
	opacity: 0;
	margin: 1%;
	transition: 5s ease;
	cursor: not-allowed;
	font-size: 2.5em;
	font-weight: 100;
	color: transparent;
	text-align: center;
}
#introduce {
	margin: 1% 11%;
}
#introduce::after {
	content: var(--content);
	color: rgb(82, 139, 255);
}
.link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 50px;
	background-color: rgba(40, 44, 52, 0.6);
	cursor: pointer;
	border-radius: 12px;
}
.link:hover {
	box-shadow: 0 4px 10px rgba(80, 80, 120, 0.4);
	transform: scale(1.025) translate(0, -4px);
	background-color: rgba(80, 80, 120, 0.6);
}
.link:hover a {
	transform: scaleX(1.2);
	text-shadow: 0 0 3px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6);
}
.link:hover .date {
	color: white;
	text-decoration: underline;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}
.link:active {
	box-shadow: none;
	transform: scale(0.975) translate(0, 2px);
	background-color: rgb(100, 100, 150);
}
a {
	opacity: 1;
	margin: 4%;
	background: repeating-linear-gradient(to bottom, rgba(0, 255, 0, 0.8) 0px, rgba(0, 255, 0, 0.8) 1px, rgba(0, 0, 0, 0.4) 2px, rgba(0, 0, 0, 0.4) 3px);
	background-clip: text;
	cursor: help;
	color: rgba(0, 255, 0, 0.4);
	text-decoration: none;
	text-shadow: 0 0 3px rgba(0, 255, 0, 0.8), 0 0 8px rgba(0, 255, 0, 0.4);
}
.date {
	margin: 4%;
	cursor: progress;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
abbr {
	-webkit-background-clip: text;
	background: linear-gradient(105deg, #ff0000, #ffa500, #ffff00, #008000, #00ff, #800080);
	background-clip: text;
	cursor: none;
	font-weight: 900;
	color: transparent;
}
