body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0px;
    transition: 0.4s;
    background: rgb(40, 44, 52);
    font-size: 20px;
    font-family: "Shadows Into Light", cursive;
    font-style: normal;
    font-weight: 400;
    color: white;
}
#container {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    position: relative;
    width: 600px;
    height: 600px;
    border: 8px ridge white;
}
.start {
    all: unset;
    box-shadow: rgba(50, 50, 50, 0.5) 0px 0px 10px;
    width: 80px;
    height: 30px;
    margin: 10px;
    transition: all 0.2s;
    background-color: skyblue;
    cursor: pointer;
    border-radius: 8px;
    color: black;
    text-align: center;
}
.start:hover {
    transform: scale(1.1);
    background-color: deepskyblue;
    color: white;
}
.start:active {
    transform: scale(0.9);
    background-color: blue;
    color: red;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.move {
    transition: all 0.2s;
}
.coin {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: wheat;
    border-radius: 50%;
}
.eat {
    box-shadow: inset 0 -5px 0 -3px pink;
    position: absolute;
    transform: scale(2.5);
    width: 10px;
    height: 10px;
    transition: 0.2s;
    background-color: yellow;
    border-radius: 50%;
}
.eat::before,
.eat::after {
    content: "";
    position: absolute;
    top: 2px;
    width: 2px;
    height: 2px;
    background-color: lightblue;
    border-radius: 50%;
}
.eat::before {
    left: 2px;
}
.eat::after {
    right: 2px;
}
.change {
    all: unset;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 80px;
    height: 40px;
    transition: 0.4s;
    background-color: grey;
    cursor: pointer;
    border-radius: 40px;
}
.move {
    all: unset;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    transition: 0.4s;
    background-color: white;
    border-radius: 50%;
}
.light {
    background: whitesmoke;
    color: black;
}
.changelight {
    background-color: rgb(50, 250, 100);
}
.movelight {
    top: 5px;
    left: 45px;
}
kbd {
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 2px;
}
#time {
    font-optical-sizing: auto;
    font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
    position: absolute;
    top: 2%;
    right: 2%;
    opacity: 0.8;
    font-size: 30px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-style: normal;
    font-weight: 400;
}
