<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Chameleon</title>
		<link rel="stylesheet" href="css/chameleon.css" />
	</head>
	<body>
		<h1></h1>
		<div>
			<button id="start">CHANGE</button>
			<button id="stop">STOP</button>
		</div>
		<div><input type="number" placeholder="What's the interval?" />ms</div>
		<div class="container"></div>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-DBVDLF0RZ6"></script>
		<script type="module" src="javascript/chameleon.js"></script>
	</body>
</html>
