<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet" />
		<title>Clock Made of Clocks</title>
		<link rel="stylesheet" href="css/clocks.css" />
	</head>

	<body>
		<canvas></canvas>
		<header>
			<time>
				<div id="digital">88:88:88</div>
				<span id="h">00</span>
				<span class="colon">:</span>
				<span id="m">00</span>
				<span class="colon">:</span>
				<span id="s">00</span>
			</time>
		</header>
		<main>
			<div id="container"></div>
			<button>Change Style</button>
		</main>
		<footer>
			<a href="https://www.youtube.com/watch?v=VUSCH7nQGIM" target="_blank">Clock made of clocks</a>
		</footer>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-DBVDLF0RZ6"></script>
		<script src="/components/javascript/modules/clock.js"></script>
		<script type="module" src="javascript/clocks.js"></script>
	</body>
</html>
