* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Digital-7";
	src: url("../../assets/fonts/digital_7/digital-7\ \(mono\).ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: "Comic Relief", Arial, sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
canvas {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	filter: blur(1px);
}
header,
main,
footer {
	width: 100%;
	outline: solid;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header {
	text-align: center;
	flex-basis: 10%;
}
main {
	flex-basis: 80%;
	flex-direction: column;
}
footer {
	text-align: center;
	flex-basis: 10%;
}
time {
	background-color: rgb(240, 250, 210);
	font-size: 40px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
	color: #282c34;
	font-family: "Digital-7", VT323, monospace;
	display: inline-flex;
}
#digital {
	position: absolute;
	opacity: 0.1;
}
.colon {
	transition: 0.1s linear;
}
button {
	all: unset;
	border: 2px #282c34 double;
	padding: 2px 5px;
	cursor: pointer;
	background-color: transparent;
	font-family: "Comic Relief", Arial, sans-serif;
	position: absolute;
	bottom: 5%;
}
button {
	all: unset;
	border: 2px #282c34 double;
	padding: 2px 5px;
	cursor: pointer;
	background-color: transparent;
	font-family: "Comic Relief", Arial, sans-serif;
	position: absolute;
	bottom: 5%;
	transition: 0.2s;
}
button:hover {
	color: orangered;
}
a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	cursor: help;
	transition: 0.2s;
}
a:hover {
	filter: brightness(1.5);
	text-decoration: underline;
}
#container {
	width: 100%;
	padding: 4px;
	aspect-ratio: 12 / 3;
	border: 1px solid;
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.clock {
	box-shadow: inset 5px 2px 7px rgba(0, 0, 0, 0.3), inset -2px -5px 7px rgba(255, 255, 255, 0.7), -5px -2px 3px rgba(255, 255, 255, 0.7);
	height: 100%;
	width: 100%;
	border-radius: 50%;
	position: relative;
}
.clock * {
	background-color: #282c34;
	border-radius: 4px;
	position: absolute;
	transform-origin: left center;
	transform: translateY(-50%) rotate(135deg);
	transition: 0.7s;
    opacity: 0.8;
}
.dot {
	height: 6%;
	width: 6%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3), -1px -2px 2px rgba(255, 255, 255, 0.7);
}
.long {
	height: 5%;
	width: 40%;
	background-color: darkorange;
    box-shadow: 0 0 4px orange;
	left: 50%;
	top: 50%;
}
.short {
	height: 3%;
	width: 45%;
	background-color: darkcyan;
	box-shadow: 0 0 4px cyan;
	left: 50%;
	top: 50%;
}
