* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	background: #282c34;
	color: #abb2bf;
}
#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
input[type="range"] {
	width: 297px;
	margin: 10px;
	cursor: ew-resize;
}
label {
	margin: 4px;
}
button {
	all: unset;
	transition: all 0.3s;
	border-radius: 8px;
}
button:hover {
	transform: scale(1.05);
	color: #fff;
}
button:active {
	transform: scale(0.95);
	color: #abb2bf;
}
#create {
	margin-top: 16px;
	padding: 6px 16px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 8px;
}
#copy {
	position: absolute;
	top: 5%;
	right: 5%;
	height: 24px;
	padding: 6px;
	cursor: copy;
	border-radius: 4px;
}
#copy:hover {
	filter: brightness(1.2);
	background-color: #fff2;
	border: 0.5px solid #abb2bfe0;
}
#copy:active {
	background-color: transparent;
}
hr {
	box-shadow: 0 0 4px teal;
	width: 60%;
	margin: 12px;
	border-color: teal;
	border-radius: 50%;
}
#terminal {
	position: relative;
	width: 500px;
	height: 309px;
	padding: 12px;
	background-clip: text;
	background: repeating-linear-gradient(rgb(7, 20, 25), rgb(7, 18, 21) 6px);
	border: 6px #abb2bf ridge;
	font-size: 24px;
	font-family: "VT323";
	line-height: 1.2;
	color: rgba(0, 255, 0, 0.5);
	text-decoration: none;
	text-shadow: 0 0 4px rgba(0, 255, 0, 0.8);
	word-break: break-all;
}
a {
	all: unset;
	display: block;
	cursor: pointer;
}
a:hover {
	text-decoration: dashed underline;
}
#result::after {
	content: "_";
	animation: twinkle 1s infinite alternate;
}
#terminal > *::before {
	content: "> ";
}
@keyframes twinkle {
	0% {
		opacity: 0.1;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
