<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			components="
				其实这个页面的风格挺割裂的，2020s的扁平化UI和1970s的CRT终端；
				有些Vue.js细节还是有疑问，比如为什么不把chars作为data(){}里的状态、computed和methods怎么不合并；
				现在我必须尽快把于己来说轻车熟路、得心应手的JavaScript的命令式思路与习惯，转变为Vue.js的响应式、声明式啊！拥抱新的思维与生产方式，而非试图留念返璞归真；
				希望寒假真能找到实习啊……"
		/>
		<title>Random Password Generator</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="./css/random_password_generator.css" />
	</head>
	<body>
		<div id="app">
			<div>
				<input type="range" name="length" id="length" list="tick_marks" step="1" v-model.number="length" min="1" max="99" />
				<label for="length" :style="{ fontWeight:'900',fontSize:'20px', color: `hsl(${(length-1)*2}, 100%, 50%)`}">{{length.toString().padStart(2,"0")}}</label>
				<datalist id="tick_marks">
					<option value="1"></option>
					<option value="11"></option>
					<option value="22"></option>
					<option value="33"></option>
					<option value="44"></option>
					<option value="55"></option>
					<option value="66"></option>
					<option value="77"></option>
					<option value="88"></option>
					<option value="99"></option>
				</datalist>
			</div>

			<div>
				<label> <input type="checkbox" v-model="Lower" /> Lower </label>
				<label> <input type="checkbox" v-model="Upper" /> Upper </label>
				<label> <input type="checkbox" v-model="Num" /> Number </label>
				<label> <input type="checkbox" v-model="Special" /> Special </label>
				<span :style="{ color: strength[1],textShadow: `${strength[1]} 0 0 4px`,fontFamily:'Consolas',fontSize:'20px' }">{{strength[0]}}</span>
			</div>

			<button id="create" @click="display">Create</button>
			<button id="copy" title="Copy" @click="copy">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(171,178,191,1)" style="height: 24px">
					<path fill="none" d="M0 0h24v24H0z"></path>
					<path d="M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6ZM6.9998 11V13H12.9998V11H6.9998ZM6.9998 15V17H12.9998V15H6.9998Z"></path>
				</svg>
			</button>
			<hr />

			<div id="terminal">
				<div>SYSTEM READY</div>
				<a href="https://aaarynt.github.io/">https://aaarynt.github.io/</a>
				<div>components/random_password_generator.html</div>
				<div>LOADED</div>
				<div></div>
				<div>Password:</div>
				<div id="result">{{result}}</div>
				<div v-if="done">Execution complete in {{length*50}}ms</div>
			</div>
		</div>

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-DBVDLF0RZ6"></script>
		<script type="module" src="./javascript/random_password_generator.js"></script>
	</body>
</html>
