:root {
	--bcg: #282c34;
	--c: #abb2bf;
	--ratio: 80%;
	--length: 20;
}
* {
	font-family: "Micro 5", Aldrich, Arial, sans-serif;
}
#width {
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
}
#num1,
#num2 {
	transition: color 0.5s linear;
}
#num1::before {
	content: "WIDTH: ";
	color: var(--c);
}
#num1::after {
	content: " GRID";
	color: var(--c);
}
#num2::before {
	content: "INTERVAL: ";
	color: var(--c);
}
#num2::after {
	content: " MS";
	color: var(--c);
}
body {
	height: 100vh;
	margin: 0px;
	background: var(--bcg);
	color: var(--c);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2%;
	/* overflow: hidden; */
}
#table {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 2em;
	text-align: end;
}
#time {
	display: flex;
	text-align: center;
}

#h,
#m,
#s {
	width: 0.8em;
}
#time > .colon {
	transition: 0.3s;
	width: 0.3em;
}
.off {
	opacity: 0.1;
}
#score::before {
	color: var(--c);
	content: "SCORE: ";
}
#container {
	transition: width, height 0.2s;
	width: var(--ratio, 50px);
	height: var(--ratio, 50px);
	outline: var(--c) solid 1px;
	display: grid;
	grid-template-columns: repeat(var(--length), 1fr);
	grid-template-rows: repeat(var(--length), 1fr);
}
.box {
	box-sizing: border-box;
	border-right: 1px solid var(--c);
	border-bottom: 1px solid var(--c);
}
footer {
	font-size: 1.5em;
}

#control1 {
	position: absolute;
	right: 10%;
	bottom: 10%;
	display: grid;
	grid-template:
		". up ." 1fr
		"left . right" 1fr
		". down ." 1fr
		/1fr 1fr 1fr;
}
#up {
	grid-area: up;
}
#right {
	grid-area: right;
}
#down {
	grid-area: down;
}
#left {
	grid-area: left;
}
button {
	all: unset;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	user-select: none;
	background: var(--bcg);
	color: var(--c);
	font-size: 2em;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(255, 255, 255, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.6) 0px -2px 4px inset;
	cursor: pointer;
	transition: all 0.2s;
}
button:hover {
	box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px, rgba(255, 255, 255, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.6) 0px -2px 4px inset;
	transform: scale(1.05);
	filter: brightness(1.1);
}
button:active,
button.active {
	box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px inset, rgba(255, 255, 255, 0.4) 0px -2px 2px inset;
	transform: scale(0.95);
	filter: brightness(0.9);
}
#control2 {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
#control2 > * {
	font-size: 1.2em;
	height: 50px;
	width: 50px;
}
#pause {
	background-color: yellow;
}
#restart {
	background-color: red;
}
#control3 {
	width: 200px;
	position: absolute;
	left: 4%;
	transform: rotate(-90deg) translate(-100px, 0px);
	transform-origin: 0% 50%;
}
input {
	width: 200px;
}
footer {
	position: absolute;
	bottom: 0%;
	display: flex;
	gap: 60px;
}
